/******======================== Base Styles ========================*****/
@font-face{ 
	font-family: 'euphorigenic';
  src: url('euphorigenic.woff2') format('woff2'), 
       url('euphorigenic.woff') format('woff'),
	     url('euphorigenic.ttf') format('truetype');
}

html {
    font-size: 16px;
}
  
body {
    background-color: black;
    color: #ffffff;
    font-family: "thonburi";
    font-size: 1em;
}

.content-wrapper {
    width: 90%;
}
  
.full-width {
    width: 100%;
}

img {
    border: 1px solid #fa0075;
}

h3 {
    color: #fa0075;
    font-family: "euphorigenic";
    font-size: 2.8em;   
    font-weight: 500;
    margin: 0;
  }

  h2 {
    color: #fa0075;
    font-family: "euphorigenic";
    font-size: 2.8em; 
    margin:0;
    padding-top: 10px; 
  }  

  h1, li a{
    color: #ffffff;
    font-family: "thonburi";
    font-size: 1.25em;    
    margin: 0;
    text-decoration: none;
  }  

  h4 a, h4 {
    font-family: "helvetica neue";
    font-size: 1.4em;      
    text-decoration: none;
  }
  
  h5 {
    color: #ffffff;
    font-size: 1.25em;       
    font-weight: 500;
    margin: 0;
  }
  
  a {
    color: #ffffff;
  }

  p {
    font-size: 1.2em;
    margin: 0 5%;
  }

/*****============================== Header Styles ==============================*****/
header {
    align-items: center;
    background-color: #1f202b;
    display: flex;
    justify-content: center;
    height: 150px;
  }

  #head-wrap {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

header h1 {
    text-align: center;
    width: 100%;
}

.header-divider, #footer-divider {
    width: 100%;
    border-top: 1px solid #fa0075;
}
  nav {
      display: flex;
      width: 100%;
      margin-top: 10px;
  }

  nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0;
    width: 100%;
    
  }

  /*****========================== Hero Area Styles ================================*****/
  #hero-area {
    background-image: url('../img/hero-background.png');
    background-position: center;
    background-size: cover;
    height: 350px;
  }
  
  span {
    color: #ffffff;
  }
  
  #hero-area h3{
    padding: 30px;
  }

/*****======================== Portfolio Styles ===================================*****/
#work {
    align-items: center;
    background-color: #1f202b;  
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  #work-header {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
  }
  
 
  
  article {
    text-align: center;
  }
  
  figure {
    margin: 50px 5% 0;
    
  }

  figure a {
      display: flex;
      justify-content: center;
  }
  
  figure a img {
    height: auto;
    width: 100%;
  }
  
#item3-description p {
    margin-bottom: 5%;
}

#work-items article p {
  text-align: left;
}



/*****================================= About Me Styles =======================================*****/
#about {
    background-color: black;
    height: auto;
    text-align: center;
  }
  
  #about h2 {
    text-align: center;
  }

  #about-content {
    
    height: inherit;
    
    padding: 5%;
  }
  
  #about-description p, #about-me p {
    line-height: 1.2em;
    text-align: left;
    margin-bottom: 1em;
  }



/*****====================================== Footer Styles =======================================*****/
footer {
    align-items: center;
    background-color: #1f202b;
    display: flex;
    flex-flow: column;
    height: auto;
  }
  
  footer h2 {
    text-align: center;
    width: 100%;
  }
  
  #foot-wrapper {  
    width: 90%;
  }
  
  #contact {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  
  #contact p {
    margin-bottom: 1em;
  }

#hire-h4 {
    text-align: center;
    width: 100%;
}

  #social {
    text-align: center;
  }
  
  #social-icons {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 30px;
  }
  
  #social-icons p {
    margin: 0 10% 5%;
  }
  
  footer p a, #copyright p a {
    text-transform: none;
  }
  
  footer p a img{
    border: 0;
    height: 50px;
  }  
  
  #copyright {
    align-items: center;
    background-color: #1f202b;
    display: flex;
    flex-flow: column;
    height: 5em;
    justify-content: space-evenly;
  }
  
  #copyright p {
    font-size: .875em;
    margin: 0 1em;
  }
  
  #attribution {
    font-size: .79em;
  }


/* ----------- Tablets larger than 768px wide ----------- */
@media (min-width: 768px) {
/*****************  General Styles Tablet***********************/
.content-wrapper {
        width: 90%;
}
      
.third-width {
        width: 50%
}

h3 { 
    font-size: 4.625em;  
}
  
h2 {
    font-size: 3em;
    padding-top: 5%;
}
  
  h1, li a{
    font-size: 1.475em;
}  
    
h4 a {
    font-size: 1.25em;
}
  
h5 {
  font-size: 1.25em;
}

/*****============================== Header Styles Tablet==============================*****/
header {
    height: 70px;
  }
  
  header h1 {
    text-align: start;
    width: initial;
  }
  
  .header-divider, #footer-divider {
    width: 0;
    border-top: none;
  }
  
nav {
    margin-top: 0;
    width: initial;

}
  
  nav ul{
    width: initial;
  }
  
  nav ul li {
    margin-left: 20px;
  }
/*****========================== Hero Area Styles Tablet================================*****/
 
  #hero-area {
    height: 520px;
  }
  
  #hero-area h3{
    padding: 55px 0 0 90px;
  }
  
 /*****======================== Portfolio Styles Tablet===================================*****/
  #work-header {
    margin-bottom: 80px;
  }
  
  
    #work-items {
      align-items: flex-start;
      display: flex;
      flex-flow: row wrap;
      height: inherit;
      width: 88%;
    }
  
  .subhead {
    margin: 1em 5% 10%;
  }

  .subhead h4, .subhead h5 {
    text-align: center;
  }



  article p {
    margin: 0 0 10px;
  }
  
  figure a {
    display: block;
  }
  
  #item1-img, #item3-img {
    margin-top: 0px;
  }
  
  #item1-description h4, #item3-description h4{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  


  #item2-description h4{
    margin-bottom: 0px;
  }
  
#item2-img a {
    display: flex;
    justify-content: flex-end;
}

  #item2-img {
    margin-top: 0px;
  }

  
  #item3 {
    margin-top: 0px;
  } 

/*****================================= About Me Styles Tablet=======================================*****/

#about-description h4 {
    margin-top: 0;
}  
  
  #hire {
    padding: 0;
  } 
  
/*****====================================== Footer Styles Tablet=======================================*****/

footer h2 {
    text-align: start;
    width: initial;
  }
  
  footer h4 {
    padding-bottom: 20px;
  }
  
  #foot-wrapper {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: inherit;
    width: 86%;
  }
  
  #contact  {
    text-align: center;
    display: block;
  }

  #contact:nth-child(2){
    margin-bottom: 1em;
  }
  
  #hire-h4 {
    width: initial;
  }  

#social-icons {
    padding: 0;
}

#copyright {
    height: 2.5em;
     
  }
  
  #copyright p {
    margin: 0 40px;
  }
}


/* ----------- Monitors larger than 1200px wide ----------- */
@media (min-width: 1200px) {
 /******************* General Styles Desktop***************************/
 .half-width {
    width: 44%;
    
  }
h3 { 
    font-size: 5.625em;  
}
  h1, li a{
    font-size: 1.875em;
  }
  
h4 a {
    font-size: 1.5em;  
  }
  
  h5 {
    font-size: 1.5em;
  }

  /*****========================== Hero Area Styles Desktop================================*****/
  #hero-area {
    height: 720px;
  }
  
  #hero-area h3{
    padding: 155px 0 0 90px;
  }

  /*****======================== Portfolio Styles Desktop===================================*****/
  #work {
    
  }
  
  #work-header {
    margin-bottom: 100px;
  }

  #item1, #item3 {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  #item2 {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
  }
  
  .subhead {
    margin: 0 0 10%;
  }

  .subhead h4 {
    margin-top: 0;
  }
  
  /*****================================= About Me Styles Desktop=======================================*****/
  #about-content {
    padding: 20px 0 100px;
  }

  #about-description h4, #about-me h4 {
    margin-bottom: 0;
  }
  /*****====================================== Footer Styles Desktop=======================================*****/
  footer h4 {
    font-size: 2.1em;
  }
    
  #social-icons {
    padding: 0 30px;
  }
  
  #meet {
    text-align: center;
  }

  #contact p {
    margin-bottom: 1em;
  }
  
  footer p a, #copyright p a {
    text-transform: none;
  }
  
  footer p a img{
    border: 0;
    height: 50px;
  }

}